
@{
}

@model ProjectViewModel

<h1>THe book store!</h1>

@foreach (Books b in Model.Books)
{
    //this will list out the info
    <div class="card card-outline-primary m-1 p-1">
        <div class="bg-faded p-1">
            <h4>
                @b.Title
                <span class="badge badge-pill badge-primary" style="float:right">
                    <small>Price:$ @b.Price</small>
                </span>
            </h4>

            <div>Author: @b.Author</div>
            <div>Publisher: @b.Publisher</div>
            <div>ISBN: @b.Isbn</div>
            <div>Classification: @b.Classification</div>
            <div>Number of Pages: @b.PageCount</div>
           
            <div>Category: @b.Category</div>
        </div>
    </div>




}

@*//da buttons!*@
<div page-blah="@Model.PageInfo" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1">
</div>

